
@{
    ViewData["Title"] = "Venta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">


    <div class="alert alert-success">

        <h2>
            Pagina Venta

        </h2>

    </div>
</div>